<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur10">

<gazebo>
  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotNamespace>/MYROBOT</robotNamespace>
  </plugin>
</gazebo>


    <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro"/>
    <link name="world"/>
    <joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>
    <xacro:ur10_robot prefix="" joint_limited="true"/>

    <xacro:include filename="$(find fh_description)/robots/hand_h_to_attach.xacro"/>

    <joint name="arm_to_hand" type="fixed">
        <parent link="ee_link"/>
        <child link="H1_base_attach"/>
        <origin xyz="0.012 0.0 0.0" rpy="${pi/2.0} ${pi} ${pi/2.0}"/>
    </joint>
</robot>
