<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find fh_desc)/common/common.xacro" />
  <xacro:include filename="$(find fh_desc)/common/materials.xacro" />
  <xacro:include filename="$(find fh_desc)/common/gazebo.xacro"/>
  <xacro:macro name="macro_0x02000102" params="part_id parent transmission f1_angle f2_angle f3_angle *origin">
    <link name="${part_id}_base_link">
      <inertial>
        <origin xyz="0.000167074827019974 0.017647639199748 0.0354392421665256" rpy="0 0 0" />
        <mass value="0.802291302622713" />
        <inertia ixx="0.00268740968940699" ixy="-2.63877052807301E-06" ixz="8.21876760057436E-06"
                 iyy="0.00273884664780255" iyz="0.000454017867570455" izz="0.00145589837379105" />
      </inertial>
      <xacro:mesh_visual file_name="palm_base.stl">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <xacro:light_grey/>
      </xacro:mesh_visual>
      <xacro:mesh_collision file_name="palm_base.stl">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <xacro:light_grey/>
      </xacro:mesh_collision>
    </link>

    <joint name="${part_id}Base" type="fixed">
       <insert_block name="origin"/>
       <parent link="${parent}"/>
       <child link="${part_id}_wrist_attach"/>
    </joint>

    <link name="${part_id}_insert_F1"/>

    <joint name="${part_id}_dummy_joint_1" type="fixed">
      <origin xyz="0 0.045 0.002" rpy="0 0 ${f1_angle}" />
      <parent link="${part_id}_base_link" />
      <child link="${part_id}_insert_F1" />
    </joint>

    <link name="${part_id}_insert_F2"/>

    <joint name="${part_id}_dummy_joint_2" type="fixed">
      <origin xyz="0.038971 -0.0225 0.002" rpy="0 0 ${pi + f2_angle}" />
      <parent link="${part_id}_base_link" />
      <child link="${part_id}_insert_F2" />
    </joint>

    <link name="${part_id}_insert_F3"/>

    <joint name="${part_id}_dummy_joint_3" type="fixed">
      <origin xyz="-0.038971 -0.0225 0.002" rpy="0 0 ${pi + f3_angle}" />
      <parent link="${part_id}_base_link" />
      <child link="${part_id}_insert_F3" />
    </joint>

    <link name="${part_id}_wrist_attach"/>

    <joint name="${part_id}_base_link_wrist_attach"  type="fixed">
      <origin xyz="0 0 -0.0005" rpy="0 0 0" />
      <child link="${part_id}_base_link" />
      <parent link="${part_id}_wrist_attach" />
    </joint>
  </xacro:macro>
</robot>
