<launch>
    <arg name="gui" default="true"/>

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find fh_description)/launch/launch_simulation.launch">
        <arg name="gui" default="$(arg gui)"/>
    </include>
    <include file="$(find smart_grasp_moveit_config)/launch/move_group.launch"/>

    <include file="$(find gazebo2rviz)/launch/gazebo2moveit.launch">
        <!--
        <env name="GAZEBO_MODEL_PATH" value="$(find smart_grasping_sandbox)/world/cafe/:$(optenv GAZEBO_MODEL_PATH)"/>
        <env name="MESH_WORKSPACE_PATH" value="$(find smart_grasping_sandbox)/world/cafe/meshes"/>
        -->
    </include>

    <group if="$(arg gui)">
        <include file="$(find smart_grasp_moveit_config)/launch/moveit_rviz.launch"/>
    </group>
</launch>
