<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="optoforce_d18" params="part_id">
  <link name="${part_id}_tip">
    <inertial>
      <origin xyz="-0.000925580990320645 -0.00495543398528436 0.0355865585792753" rpy="0 0 0"/>
      <mass value="0.00906322686585137" />
      <inertia ixx="1.10049088227995E-06" ixy="-3.7290982171096E-09" ixz="-9.54389365908683E-09"
        iyy="1.36130530510584E-06" iyz="6.66133713720777E-08" izz="6.42259773618367E-07" />
    </inertial>
    <xacro:mesh_visual file_name="omd-d18-tip.stl">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <xacro:light_grey/>
    </xacro:mesh_visual>
    <xacro:mesh_collision file_name="omd-d18-tip.stl">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <xacro:light_grey/>
    </xacro:mesh_collision>
  </link>
  <link name="${part_id}_optoforce"/>
  <joint name="${part_id}_tip_to_optoforce" type="fixed">
    <parent link="${part_id}_tip"/>
    <child link="${part_id}_optoforce"/>
    <origin xyz="0 -0.006 0.046" rpy="-0.35 0 0" />
  </joint>
  </xacro:macro>
</robot>
