<?xml version="1.0" ?>
<robot name="hand_H" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="world"/>
  <xacro:include filename="$(find fh_desc)/hand/xacro/0x02000101/0x02000101.xacro" />
  <xacro:include filename="$(find fh_desc)/hand/xacro/0x02000102/0x02000102.xacro" />
  <xacro:include filename="$(find fh_desc)/hand/xacro/0x02000103/0x02000103.xacro" />

  <xacro:macro_0x02000103 part_id="WR" hand_id="H1" parent="world" transmission="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:macro_0x02000103>

  <xacro:macro_0x02000102 part_id="H1" parent="H1_WR_face_plate" transmission="true" f1_angle="0" f2_angle="0" f3_angle="0">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:macro_0x02000102>

  <xacro:macro_0x02000101 part_id="F1" hand_id="H1" transmission="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:macro_0x02000101>

  <xacro:macro_0x02000101 part_id="F2" hand_id="H1" transmission="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:macro_0x02000101>

  <xacro:macro_0x02000101 part_id="F3" hand_id="H1" transmission="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:macro_0x02000101>
</robot>
